<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApskaitaWUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <ApskaitaWUI.My.MySettings>
            <setting name="UseThreadingForDataTransfer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoReloadData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserEmailAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="UserEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="UserEmailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UseSslForEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseAuthForEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowToolStrip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailMessageText" serializeAs="String">
                <value />
            </setting>
            <setting name="CacheTimeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SignInvoicesWithCompanySignature" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SignInvoicesWithLocalUserSignature" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SignInvoicesWithRemoteUserSignature" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllwaysLoginAsLocalUser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDefaultMailClientWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDefaultEmailClient" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSizeForm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSizeDataGridViewColumns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllwaysShowWageSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SQLQueryTimeOut" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocalUsers" serializeAs="String">
                <value />
            </setting>
            <setting name="UserSignature" serializeAs="String">
                <value />
            </setting>
            <setting name="CommonSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="BankDocumentPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreWrongIBAN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateUrl" serializeAs="String">
                <value>http://79.142.116.110:8088/files/</value>
            </setting>
            <setting name="AlwaysUseExternalIdInvoicesMade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysUseExternalIdInvoicesReceived" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultInvoiceReceivedItemIsGoods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultInvoiceMadeItemIsGoods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckInvoiceReceivedNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckInvoiceReceivedNumberWithDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckInvoiceReceivedNumberWithSupplier" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditListViewWithDoubleClick" serializeAs="String">
                <value>False</value>
            </setting>
        </ApskaitaWUI.My.MySettings>
    </userSettings>
</configuration>
